{% extends "base.html" %}


{% block content_title %}
  
{% endblock %}

{% block content %}

  {% for article in articles_page.object_list %}
  {% if loop.index % 3 == 0 %}
  <div class="row">
  {% endif %}
    <div class="col-md-4 articles">
      <article>
        <header>
          {% if article.content or article.photo_full %}
            <a href="{{ SITEURL }}/{{ article.url }}">
          {% elif article.ext_url %}
            <a href="{{ article.ext_url }}">
          {% endif %}
          <img src="{{ SITEURL }}/images/{{ article.photo }}" />
          {% if article.content or  article.ext_url or article.photo_full %}
            </a>
          {% endif %}
          <h2>            
            {% if article.content or article.photo_full %}
              <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags|e }}">
            {% endif %}
            {% if article.ext_url %}
              <a href="{{ article.ext_url }}" rel="bookmark" title="Permalink to {{ article.title|striptags|e }}">
            {% endif %}
            
            {{ article.title }}
            
            {% if article.content or  article.ext_url or article.photo_full %}
              </a>
            {% endif %}
          </h2>
        </header>
        <!-- div class="date">{{ article.date.strftime('%d/%m/%Y') }}</div -->
        <div>{{ article.summary }}</div>
        {% if article.content or article.photo_full or article.ext_url %}
        <div>
          <a class="btn btn-primary" href="{{ SITEURL }}/{{ article.url }}"><strong>➟ Lire</strong></a>
          <!-- a class="btn btn-primary" href="{{ SITEURL }}/{{ article.category.url }}"><strong>➟ {{ article.category }}</strong></a -->
        </div>
        </a>
        {% endif %}
      </article>
    </div>
  {% if loop.index % 3 == 0 %}
  </div>
  {% endif %}
  {% endfor %}

  {#% include 'pagination.html' %#}

{% endblock content %}