table {
    border: 2px black solid;
    font: 11px sans-serif;
    color: black;
}

table a, table a:hover {
    color: black;
}

td {
    border: 1px black solid;
    padding: 5px;
}

.pie {
    text-align: center;
}

.tooltip{
    position: absolute;	
    width: 400px;	
    padding: 10px;	
    background: white;	
    border: 1px solid gray;					
    border-radius: 8px;
    box-shadow: -3px 3px 15px #888888;
    opacity:0;	    
}